
#ifndef SECRETS_H
#define SECRETS_H

#define WIFI_SSID           "YOUR_WIFI_SSID"
#define WIFI_PASSWORD       "YOUR_WIFI_PASSWORD"

#define API_KEY             "YOUR_FIREBASE_API_KEY"
#define FIREBASE_PROJECT_ID "YOUR_PROJECT_ID"
#define USER_EMAIL          "YOUR_EMAIL"
#define USER_PASSWORD       "YOUR_PASSWORD"

#endif
